:root {
  background-color: black;
}
section {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-self: center;
  /* background-color: black; */
}
img {
  margin-top: 30px;
  height: 40%;
  width: 40%;
  object-fit: cover;
  border-radius: 100px;
}
a {
  margin-bottom: 20px;
}
.profile-card {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: white;
}
.display {
  font-weight: 500;
  font-size: 18px;
}

.btn-container {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
  height: 4em;
  width: 8em;
  border: none;
  border-radius: 25px;
  background-color: lightgrey;
  color: black;
}
button:hover {
  background-color: black;
  color: white;
}
.like-count {
  display: flex;
  flex-direction: row;
}
.num {
  font-size: 22px;
  margin-right: 10px;
}

.icon {
  margin-bottom: 10px;
}
